@import 'prettify-overrides';

/* You can add global styles to this file, and also import other style files */
body,
html,
app-root {
    height: 100%;
    width: 100%;
    color: #000e;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.app-component {
    background: #fff;
    padding: 1rem 1.5rem;
    border: solid 5px #0002;
    max-width: 800px;
    box-shadow: 0 0 8px #0008 inset;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}
